@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Yeni Deneyim Güncelleme Paneli </p>

            <form method="post" asp-controller="Experience" asp-action="EditExperience" id="addform">
                <input asp-for="ExperienceID" hidden />
                <label>Deneyim Başlığı</label>
                <input type="text" asp-for="Name" class="form-control" />
                <br />
                <label>Tarih Bilgisi</label>
                <input type="text" asp-for="Date" class="form-control" />
                <br />
                <label>Resim Yolu</label>
                <input type="text" asp-for="ImageUrl" class="form-control" />
                <br />
                <label>Açıklama</label>
                @*<input type="text" asp-for="Description" class="form-control" />*@
                <textarea rows="4" cols="50" asp-for="Description" form="addform" class="form-control"></textarea>
                <br />
                <button class="btn btn-block btn-lg btn-outline-light">Kaydet</button>
            </form>
        </div>
    </div>
</div>

