
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Hizmet Ekleme </p>

            <form method="post">
                <label>Başlık</label>
                <input type="text" name="Title" class="form-control" />
                <br />
                <label>Görsel Linki</label>
                <input type="text" name="ImageUrl" class="form-control" />
                <br />
                <button class="btn btn-block btn-lg btn-outline-light">Kaydet</button>
            </form>


        </div>
    </div>
</div>
