@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <h3 class="mb-0">Yetenek Düzenleme</h3>
        </div>
    </div>
    <div class="card-body pl-lg-4">
        <div class="row">
            <div class="col-lg-12">

                <form asp-controller="Service" asp-action="EditService" method="post">
                    <input asp-for="ServiceID" hidden />
                    <label>Başlık</label>
                    <input asp-for="Title" class="form-control" />
                    <br />
                    <label>Fotoğraf Linki</label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <br />
                    <button class="btn btn-block btn-lg btn-primary">Kaydet</button>
                </form>


            </div>
        </div>
    </div>
</div>

