@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Hizmet Düzenleme </p>


            <form asp-controller="Service" asp-action="EditService" method="post">
                <input asp-for="ServiceID" hidden />
                <label>Başlık</label>
                <input asp-for="Title" class="form-control" />
                <br />
                <label>Fotoğraf Linki</label>
                <input asp-for="ImageUrl" class="form-control" />
                <br />
                <button class="btn btn-block btn-lg btn-outline-light">Kaydet</button>
            </form>


        </div>
    </div>
</div>
