@using EntityLayer.Concrete
@model List<WriterMessage>
    @{
        ViewData["Title"] = "ReceiverMessageList";
        Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    }

    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Admin Gelen Kutusu</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="sort" data-sort="name">#</th>
                            <th scope="col" class="sort" data-sort="budget">Gönderen</th>
                            <th scope="col" class="sort" data-sort="budget">Konu</th>
                            <th scope="col" class="sort" data-sort="status">Tarih</th>
                            <th scope="col">Sil</th>
                            <th scope="col" class="sort" data-sort="completion">Mesajı Gör</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @item.WriterMessageID
                                </th>
                                <td class="budget">
                                    @item.SenderName
                                </td>
                                  <td>
                                    @item.Subject
                                </td>
                                <td>
                                    @item.Date
                                </td>

                                <td><a href="/AdminMessage/DeleteAdminMessage/@item.WriterMessageID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/AdminMessage/AdminMessageDetails/@item.WriterMessageID" class="btn btn-outline-success">Mesajı Gör</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                  <a href="/AdminMessage/AddAdminMessage/"  class="btn btn-block btn-lg btn-outline-info">Mesaj Gönder</a>
            </div>
        </div>
    </div>
</div>